.login {
  
    height: 40%;
    background-color: #c4c4c431;
    fill-opacity: 20%;
    border-radius: 12px;
    padding: 5% 10%;
}

.signup {

    height: 40%;
    background-color: #c4c4c431;
    fill-opacity: 20%;
    border-radius: 12px;
    padding: 5% 10%;
}

.button-container{
    width: 100%;
    align-items: center;
}

.green { 
    background-color: #28A745;
}
.text-1 {

}

.form-group {
    padding-bottom: 8%;
}

.card {
    margin: 10% 10%;
}

